@model Blog
@{
    ViewData["Title"] = "Detail";
}

<!--
				Card - Blog
			-->
			<div class="card-inner blog  animated active" id="blog-card">
				<div class="card-wrap">

					<!-- Blog -->
					<div class="content blog">

						<!-- title -->
						<div class="title">
							<span >Blog</span>
						</div>

						<!-- content -->
						<div class="row border-line-v">
								<!-- blog item -->
								<div class="col col-d-12 col-t-12 col-m-12">
									<div class="box-item">
										<div class="image">
												<img src="~/images/blog/@Model.ImagePath" alt="By spite about do of allow" />
												<span class="info">
													<span class="ion ion-document-text"></span>
												</span>
										</div>
										<div class="desc">
											<a>
												<span class="date">@Model.CreatedDate</span>
											</a>
											<a  class="name">@Model.Head</a>
											<div class="text">
												<p>@Model.Title</p>
											</div>
										</div>
									</div>
								</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
